{% load my_tags %}
{% load comment_tags %}

{% for comment in comments %}
    <div style="margin-left: {{ level|multiply:30 }}px;">
        <div class="bg-white p-2">
            <div class="d-flex flex-row user-info">
                <img class="rounded-circle" src="{{comment.user.profile.profile_picture.url}}" width="30" height="30">
                <a href="{% url 'profiles:detail' comment.user.pk %}" style="text-decoration: none;">
                    <div class="d-flex flex-column justify-content-start ms-2 ">
                        <span class="d-block font-weight-bold name" style="text-transform: capitalize;">{{comment.user.username}} {{comment.user.profile.last_name}}</span>
                        <span class="date text-black-50">{{comment.created_at}}</span>
                    </div>
                </a>
            </div>
            <div class="mt-2">
                <span class="comment-text fw-bold text-decoration-underline" style="font-size: medium;">{{ comment.text }}</span>
                <a href="{% url 'comments:update_comment' comment_id=comment.id %}" class="text-decoration-none ms-2" style="font-size:12px">Edit</a>
                <a href="{% url 'comments:delete_comment' comment_id=comment.id %}" class="text-decoration-none" style="font-size:12px">Delete</a>
            </div>
        </div>
        <form method="post" class="p-2" action="{% url 'comments:create_comment' post_id=comment.post.id %}" style="display:flex; column-gap:8px">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="parent" value="{{ comment.id }}">
            <button type="submit" class="rounded" style="font-size:12px; padding:0 5px">Reply</button>
            <textarea name="text" class="rounded" cols="10" rows="1" required id="id_text"></textarea>
            
        </form>

        {% if comment.comment_set.all %}
            {% render_nested_comments comment.comment_set.all level=level|add:1 %}
        {% endif %}
    </div>
{% endfor %}
