{% extends 'accounts/base.html' %}

{% block content %}
<h2>Create a Comment</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Create Comment</button>
</form>
{% endblock %}
