{% extends 'accounts/base.html' %}

{% block content %}
<h2>Delete Comment</h2>
<p>Are you sure you want to delete this comment?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit">Yes, Delete Comment</button>
  <a href="{% url 'posts:detail' pk=comment.post.id %}">Cancel</a>
</form>
{% endblock %}
