{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <title>Instagram Login Form</title>
</head>

<body>
  <div id="wrapper">
    <div class="container">
      <div class="phone-app-ddemo"></div>
      <div class="form-data">
        <form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
          <div class="logo">
            <h3 class="display-5" style="padding: 20px;">Delete Comment</h3>
          </div>
            <p>Are you sure you want to delete this comment?</p>
            <h3 class="fs-3 border border-rounded">{{ comment.text }}</h3>
            <button class="btn btn-danger mt-4 fs-5" type="submit">Yes, Delete Comment</button>
            <a class="mt-4" href="{% url 'posts:detail' pk=comment.post.id %}">Cancel</a>
        </form>
      </div>
    </div>
    {% include 'partials/_footer.html' %}
  </div>
</body>
{% endblock content %}