<footer>
    <div class="container">
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="#">About us</a>
          </li>
          <li>
            <a href="#">Support</a>
          </li>
          <li>
            <a href="#">Press</a>
          </li>
          <li>
            <a href="#">Api</a>
          </li>
          <li>
            <a href="#">Jobs</a>
          </li>
          <li>
            <a href="#">Privacy</a>
          </li>
          <li>
            <a href="#">Terms</a>
          </li>
          <li>
            <a href="#">Directory</a>
          </li>
          <li>
            <a href="#">Profiles</a>
          </li>
          <li>
            <a href="#">Hashtags</a>
          </li>
          <li>
            <a href="#">Languages</a>
          </li>
        </ul>
      </nav>
      <div class="copyright-notice">&copy 2023 Instagram</div>
    </div>
  </footer>