{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <title>Instagram Edit Form</title>
</head>

<body>
  <div id="wrapper">
    <div class="container">
      <div class="phone-app-ddemo"></div>
      <div class="form-data">
        <form action="" method="POST" enctype="multipart/form-data">
			    {% csrf_token %}
          <div class="logo">
            <h3 class="display-5" style="padding: 20px;">Create Profile</h3>
          </div>
          {{ form.first_name.label_tag }}<br>
          {{ form.first_name }}<br>
          {{ form.last_name.label_tag }}<br>
          {{ form.last_name }}<br>
          {{ form.bio.label_tag }}<br>
          {{ form.bio }}<br>
          {{ form.profile_picture.label_tag }}<br>
          {{ form.profile_picture }}<br>
          <button class="form-btn" type="submit">Create</button>
        </form>
      </div>
    </div>
    {% include 'partials/_footer.html' %}
  </div>
</body>
{% endblock content %}