{% extends 'accounts/base.html' %}

{% block content %}
  <h2>Create Profile</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.first_name.label_tag }}<br>
    {{ form.first_name }}<br>
    {{ form.last_name.label_tag }}<br>
    {{ form.last_name }}<br>
    {{ form.bio.label_tag }}<br>
    {{ form.bio }}<br>
    {{ form.profile_picture.label_tag }}<br>
    {{ form.profile_picture }}<br>
    <button type="submit">Create</button>
  </form>
{% endblock %}
