{% extends 'accounts/base.html' %}

{% block content %}
  <h2>Are you sure you want to delete your profile?</h2>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Yes, delete my profile</button>
  </form>
{% endblock %}
