{% extends 'accounts/base.html' %}

{% load relationship_tags %}

{% block content %}
  <h2>{{ profile.user.username }}'s Profile</h2>
    <!-- Add first_name and last_name here -->
    {% if profile.user.first_name %}
    <p>First Name: {{ profile.user.first_name }}</p>
    {% endif %}
    {% if profile.user.last_name %}
    <p>Last Name: {{ profile.user.last_name }}</p>
    {% endif %}
    <!-- <p>First Name: {{ profile.user.first_name }}</p>
    <p>Last Name: {{ profile.user.last_name }}</p> -->
    <!-- Add this after the profile details -->
    {% if request.user != profile.user %}
    {% if request.user|is_following:profile.user %}
        <a href="{% url 'relationships:unfollow' profile.user.pk %}">Unfollow</a>
    {% else %}
        <a href="{% url 'relationships:follow' profile.user.pk %}">Follow</a>
    {% endif %}
    {% endif %}

  <p>{{ profile.bio }}</p>
  {% if profile.profile_picture %}
  <img src="{{ profile.profile_picture.url }}" alt="{{ profile.user.username }}'s profile picture" width="200">
  {% endif %}
  <br>
  {% if request.user == profile.user %}
    <a href="{% url 'profiles:update' profile.pk %}">Edit Profile</a>
    <br>
    <!-- <a href="{% url 'posts:create' %}">Create Post</a> -->
  {% endif %}
  <h3>{{ profile.user.username }}'s Posts</h3>
  {% for post in posts %}
    <a href="{% url 'posts:detail' post.pk %}">
      <img src="{{ post.image.url }}" alt="{{ post.user.username }}'s post image" width="150">
    </a>
  {% empty %}
    <p>No posts yet.</p>
  {% endfor %}
{% endblock %}
