{% extends "accounts/base.html" %}
{% load relationship_tags %}

{% block content %}
<div style="text-align:center">
    <h1>Other Users</h1>
    <ul>
        {% for user in users %}
            {% if not user.is_superuser %}
                <li>
                    <a href="{% url 'profiles:detail' user.pk %}">{{ user.username }}</a> - 
                    {% if request.user|is_following:user %}
                        <a href="{% url 'relationships:unfollow' user.pk %}">Unfollow</a>
                    {% else %}
                        <a href="{% url 'relationships:follow' user.pk %}">Follow</a>
                    {% endif %}
                </li>

            {% endif %}
        {% empty %}
            <li>No other users available.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

