body {
    background: whitesmoke;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    box-sizing: border-box;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

button {
    padding: 0.5rem 0.8rem;
    /* font-size: 1.2rem; */
}