{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Instagram Clone{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        {% if request.user.is_authenticated %}
            {% if request.user.profile %}
                <a href="{% url 'profiles:detail' request.user.profile.pk %}">My Profile</a> |
            {% endif %}
            <a href="{% url 'welcome' %}">Welcome</a> |
            <a href="{% url 'profiles:other_users' %}">Explore Users</a> |
            <a href="{% url 'posts:create' %}">Create Post</a> |
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a> |
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
        <br>
        <!-- Back link to go to last visited page -->
        {% with request.META.HTTP_REFERER as referer %}
            {% if referer %}
                <a href="{{ referer }}">Go Back</a>
            {% endif %}
        {% endwith %}
    </main>
    
</body>
</html>
