{% extends 'accounts/base.html' %}

{% block content %}
<h2>Welcome, {{ request.user.username }}!</h2>
<p><a href="{% url 'profiles:other_users' %}">Explore other users</a></p>

<h3>Posts from people you follow:</h3>

{% for post in posts %}
    <div>
        <h4>{{ post.user.username }}</h4>
        <p>{{ post.caption }}</p>
        <a href="{% url 'posts:detail' post.id %}">
            <img src="{{ post.image.url }}" alt="{{ post.caption }}" width="200">
        </a>
        <p>Likes: {{ post.likes.count }}</p>
    </div>
{% empty %}
    <p>You don't have any posts from people you follow yet.</p>
{% endfor %}
{% endblock %}
