{% extends 'accounts/base.html' %}

{% block content %}
    <h2>Confirm Deletion</h2>
    <p>Are you sure you want to delete this post?</p>
    <img src="{{ post.image.url }}" alt="{{ post.user.username }}'s post image" width="300">
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, delete this post</button>
    </form>
    <a href="{% url 'posts:detail' post.pk %}">Cancel</a>
{% endblock %}
