{% extends 'accounts/base.html' %}

{% block content %}
    <h2>Create Post</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Post</button>
    </form>
{% endblock %}
