{% extends 'accounts/base.html' %}
{% load comment_tags %}
{% block content %}
    <h2>{{ post.user.username }}'s Post</h2>
    <img src="{{ post.image.url }}" alt="{{ post.user.username }}'s post image" width="300">
    <p>{{ post.caption }}</p>
    {% if request.user.is_authenticated %}
        {% if request.user in post.likes.all %}
            <a href="{% url 'posts:like' post.pk %}">Unlike</a>
        {% else %}
            <a href="{% url 'posts:like' post.pk %}">Like</a>
        {% endif %}
    {% endif %}
    <p>{{ post.likes.count }} Likes</p>
    {% if request.user == post.user %}
        <a href="{% url 'posts:update' post.pk %}">Edit Post</a> |
        <a href="{% url 'posts:delete' post.pk %}">Delete Post</a>
    {% endif %}
    {% root_comments post as root_comments %}
    {% render_nested_comments root_comments %}
    <form method="post" action="{% url 'comments:create_comment' post_id=post.id %}">
        {% csrf_token %}
        {{ form.parent.as_hidden }}
        {{ form.text.label_tag }}<br>
        {{ form.text }}<br>
        <input type="submit" value="Add Comment">
    </form>
{% endblock %}
