{% extends 'accounts/base.html' %}

{% block content %}
  <h2>Post Feed</h2>

  {% for post in post_items %}
    <div>
      <h3>{{ post.user.username }}</h3>
      <img src="{{ post.image.url }}" alt="{{ post.user.username }}'s post image" width="150">
      <p>{{ post.caption }}</p>
      <small>{{ post.created_at }}</small>
    </div>
  {% empty %}
    <p>No posts yet.</p>
  {% endfor %}

  {% if users_paginator %}
    <h3>Users</h3>
    {% for user in users_paginator %}
      <div>
        <h4>{{ user.username }}</h4>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
